.button {
  box-sizing: border-box;
  padding: 15px 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #8b00ff;
  color: $color-white;
  @include button();
  cursor: pointer;
  transition: $transition;
  outline: none;

  &:hover {
    opacity: .7;
  }
}

.button-like {
  background-image: icon-like();
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 21px;
  height: 19px;
  cursor: pointer;
  transition: transform 0.3s linear;
  outline: none;

  &:hover {
    transform: scale(1.2);
  }

  &_active {
    background-image: icon-like-active();
  }
}