.rover-container {
  width: 100%;
  max-width: 500px;
}

.rover__info {
  & > * + * {
    margin-top: 10px
  }
}

.rover__text {
  @include body();
}

.rover-form {


  & > * + * {
    margin-top: 20px
  }
}

.rover-form__button {
  border: none;
}