@mixin head-1() {
  font-family: 'Space Mono';
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

@mixin head-2() {
  font-family: 'Space Mono';
  font-style: bold;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

@mixin body() {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

@mixin body-1() {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@mixin button() {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}